@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ecece9;
  --foreground: #171717;
}

html, body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-aldrich-sans), Helvetica, sans-serif;
}

.main {
  font-family: var(--font-aldrich-sans), Helvetica, sans-serif;
}

